html 
    head 
        title=title
        link(rel="stylesheet", href="style.css")
        script(src="tryer.js") 
    body 
        div#term 
        div#globales_verhalten 
        div#nullstellen 
        div#ableitungen
        div#extrema
        div#wendepunkte
        input#jsonString(type="hidden", name="jsonString" value=jsonStr)